header {
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #1F343E;
}

@media screen and (max-width: 800px) {
    header {

        .wrapper {
            padding-top: 24px
        }

        li {
            margin-bottom: 20px;
        }
    }

}